*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
}

section {
    background-color: #d9b1b3;
}

h1 {
    font-size: 4.5rem;
    letter-spacing: 0px;
    font-weight: 700;
    font-style: italic;
    text-transform: none;
    font-family: 'Playfair Display', serif !important;
    /* word-wrap: break-word; */
    position: relative;
    color: white;
}

input {
    background-color: white;
    border-radius: 2rem;
    height: 3rem;
    width: 20%;
    border-style: none;
    padding: 1rem;
    font-size: large;
}

h3 {
    color: white;
}

.row {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.row-column {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.custom-font {
    font-family: 'playfair display', serif;
}

header {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding: 60px;
    align-items: flex-end;
    background-image: url('../img/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-heading {
    font-size: 6rem;
    font-style: italic;
    padding: 0 2rem;
}

.banner-text {
    font-size: 0.9rem;
    font-weight: normal;
    background-color: white;
    color: black;
    padding: 30px;
}

.announce-section {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: #d9b1b3;
    color: white;
}

.announce {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 15px;
}

.announce span {
    font-size: 6rem;
    line-height: 0;
}

.announce-section p {
    font-size: 0.8rem;
    width: 50%;
}

.col4 {
    width: 33.33%;
    background-color: beige;
    display: flexbox;
    padding: 0;
}

.col4 img {
    width: 100%;
}

.row-gallery {
    width: 100%;
    display: flex;
    line-height: 0;
}

.row-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form {
    padding: auto 10rem;
}

.get-updates {
    color: white;
    background-color: black;
    text-decoration-color: white;
    border-radius: 2rem;
    height: 3rem;
    width: 20%;
    border-style: none;
    font-size: large;
    padding: 1rem;
}